/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
  ========================================
  Элементы
  ========================================
*/

h1, h2, h3, h4{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #000000;
}


h1 {
    font-size: 2.25em;
    line-height: 44px;
    font-weight:600;
}

h2 {
    font-size: 1.5em;
    line-height: 27px;
    font-weight:bold
}

h3 {
    font-size: 18px;
    line-height: 21px;
    font-weight:bold
}

h4 {
    font-size: 0.69em;
    font-weight:600;
}


/*
  ========================================
  Пользовательские стили
  ========================================
*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    overflow-y: scroll;
}

body{

    font-family: Tahoma, Verdana, Arial, Helvetica, Mistral, Trebuchet MS, Courier New, Impact, Monotype Corsiva sans-serif;
}

#page {
    display:flex;
}



/*
  ========================================
  Основной блок
  ========================================
*/

#main {
    /* Это свойство позволяет данному блоку растягиваться и занимать всё доступное пространство, не затрагивая сайдбар */
    flex-grow:1;
    min-height: 1024px;
    background-color:#5E42A6;
    background-image: url("/template/images/1.png");

}

.alignment{
    display:block;
    position: absolute;
    top: 31%;
    height: 400px;
    margin-top: -50px;
}

.config1{
    display:none;
    width:500px; height:70px;
    color:#fff;
    font:18px Arial,sans-serif;
    padding:34px 0 0 366px;

    text-align:center;
    font-size: 5.5em;
    line-height: 27px;
    font-weight:bold;
}

.config2{
    color:#AEA6D5;
    font: bold italic 110% serif;
    padding:84px 0 20px 66px;
    font-size: 2.5em;
    line-height: 27px;
    font-weight:bold;

}

.config3{
    display:none;
    color:#FFFFEE;
    font: bold italic 110% serif;
    padding:84px 0 0 430px;
    font-size: 2em;
    line-height: 27px;
    font-weight:bold;
}

/*
  ========================================
  Сайдбар
  ========================================
*/

aside {
    /* Здесь задаем ширину сайдбара по умолчанию и не даем ему сужаться*/
    flex-shrink:0;
    width:312px;
    background-color:#312450;
    float:left;
}

aside ul{
    padding: 0px 0 0 100px;
    font: bold italic 110% serif;
    font-size: 2.5em;
    line-height: 75px;
    font-weight:bold;
}

aside ul li{
    margin-top: 100px;
}

.active{
    text-decoration: none;
    color:#776F8C;
    z-index: 1;

}

.activefix{
    text-decoration: none;
    color:#FFF;
    z-index: 1;
}

/*
  ========================================
  2-я страница, основной блок
  ========================================
*/

.indentation{
    margin-top:150px;
}

.logo{
    display: none;
    width: 100%;
    height: 120px;
    background: url(/template/images/4.JPG) no-repeat;
    background-size: 100%;

    color:#fff;
    text-align:center;
    font-size: 5.5em;
    line-height: 27px;
    font-weight:bold;

    padding-top: 40px;
}

#main h2{
    padding: 10px 0 0 0;
    text-align: center;
    color: #AEA6D5;
    padding:10px;
}


/*
  ========================================
  Новости
  ========================================
*/

#news{
    display:none;
    margin-top:20px;
}

#show3{
    display:none;
}

#show4{
    display:none;
}


.entry{
    display:block;
    position:relative;
    width:50%;
    left:25%;
    top:10%;
    border: 4px groove;
    padding:10px;
    min-width:600px;
}

.entry2{
    display:block;
    position:relative;
    width:600px;
    left:25%;
    top:10%;
    border: 4px groove;
    padding:10px;
}

.authorEntry{
    display: inline;
    color:#AEA6D5;
}

.dateEntry{
    float:right;
    color:#AEA6D5;
}

.textEntry{
    padding: 10px;
    color:#DAC9C5;
    border: 2px ridge;
    background-color: #5E42A6;
    font: bold italic 110% serif;
    text-overflow: clip;
}

.commentsEntry{
    display: inline;
    color:#AEA6D5;
}

.fullEntry{
    color:#FFE;
    float:right;
    text-decoration: none;
}

.fullEntry:hover{
    color:#FF2F24;
}

.backToForum{
    color:#FFE;
    float:right;
    text-decoration: none;
}

.backToForum:hover{
    color:#FF2F24;
}

/*
  ========================================
  Комментарии
  ========================================
*/

.comments h3{
border-bottom: dashed;
    color:#AEA6D5;
}

.comments{
    display:block;
    position:relative;
    width:50%;
    left:25%;
    top:10%;
    border: 4px groove;
    padding:10px;
    margin:5px 0 0 0;
}

.comment{
    margin-top:10px;
    border: 1px groove;
    background-color: #5E42A6;
    font: bold italic 110% Trebuchet MS;
    color:#DAC9C5;
}

/*
  ========================================
  Добавить комментарий
  ========================================
*/
.addComment h3{
    color:#AEA6D5;
}

.addComment{
    display:block;
    position:relative;
    width:50%;
    left:25%;
    border-left: 4px groove;
    border-right: 4px groove;
    border-bottom: 4px groove;
    padding:10px;
    margin:0 0 50px 0;

}

.nameForm{
    margin:10px;
    color:#DAC9C5;
    background-color: #312450;
}

.textArea{
    width:80%;
    height:60px;
    position:relative;
    left:10.5%;
    bottom:10%;
    color:#DAC9C5;
    background-color: #312450;
}

.Com{
    margin:10px;
    margin-left:52px;
    width:36%;
}

/*
  ========================================
  Добавить новость
  ========================================
*/


.addNewEntry{
    display:block;
    position:relative;
    width:50%;
    left:25%;
    border: 4px groove;
    padding:10px;
    margin:50px 0 50px 0;
    min-width:600px;
}
/*
  ========================================
  Кнопки
  ========================================
*/

.button
{
    margin: 10px;
    margin-left:52px;
    text-decoration: none;
    font: bold 1.5em 'Trebuchet MS',Arial, Helvetica; /* Изменяйте em для масштабирования кнопки */
    display: inline-block;
    text-align: center;
    color: #fff;

    border: 1px solid #9c9c9c; /* Запасной стиль */
    border: 1px solid rgba(0, 0, 0, 0.3);

    text-shadow: 0 1px 0 rgba(0,0,0,0.4);

    box-shadow: 0 0 .05em rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 .05em rgba(0,0,0,0.4);

}

.button, .button span
{
    -moz-border-radius: .3em;
    border-radius: .3em;
}

.button span
{
    border-top: 1px solid #fff; /* Запасной стиль */
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    display: block;
    padding: 0.5em 2.5em;

    /* Фоновый паттерн */

    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)),
    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)),
    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05))),
    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05)));
    background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent),
    -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent),
    -moz-linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%),
    -moz-linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%);

    /* Настройки паттерна */

    -moz-background-size: 3px 3px;
    -webkit-background-size: 3px 3px;
    background-size: 3px 3px;
}

.button:hover
{
    box-shadow: 0 0 .1em rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
}

.button:active
{
    /* Опускаем на 1px при нажатии */
    position: relative;
    top: 1px;
}

.Com
{
    background: #4477a1;
    background: -webkit-gradient(linear, left top, left bottom, from(#81a8cb), to(#4477a1) );
    background: -moz-linear-gradient(-90deg, #81a8cb, #4477a1);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#81a8cb', endColorstr='#4477a1');
}

.Com:hover
{
    background: #81a8cb;
    background: -webkit-gradient(linear, left top, left bottom, from(#4477a1), to(#81a8cb) );
    background: -moz-linear-gradient(-90deg, #4477a1, #81a8cb);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4477a1', endColorstr='#81a8cb');
}

.Com:active
{
    background: #4477a1;
}



#text_slide1, #text_slide2, #text_slide3, #text_slide4, #text_slide5{
    position: absolute;
    padding-left:27.5%;
    opacity:0;
}